<div style="max-width:1024px;padding:20px;margin: 50px auto;">

  <h1>Audit Log Data Grid</h1>


  <!-- Master Toggle Button -->
  <div style="text-align: end;padding: 10px 104px;">
    <a mat-raised-button href="javascript:void(0)" (click)="toggleTableRows()" color="primary">{{isTableExpanded ? 'Colapse All':'View All'}}</a>
  </div>

  <table mat-table [dataSource]="dataList" multiTemplateDataRows>

    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>


    <ng-container matColumnDef="Changes">
      <th mat-header-cell *matHeaderCellDef> Changes </th>
      <td mat-cell *matCellDef="let element"> {{element.changes}} </td>
    </ng-container>

    <ng-container matColumnDef="By">
      <th mat-header-cell *matHeaderCellDef> By </th>
      <td mat-cell *matCellDef="let element"> {{element.by}} </td>
    </ng-container>   

    <ng-container matColumnDef="Details">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let element">
        <a mat-button href="javascript:void()" (click)="element.isExpanded = !element.isExpanded">{{element.isExpanded ? 'View Less':'View More'}}</a>
      </td>
    </ng-container>


    <!-- Template for details row -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumnsList.length">

        <div class="row element-detail" [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'">
          <mat-list>
            <div mat-subheader>Subjects of {{element.changes}}</div>
            <mat-list-item *ngFor="let item of element.details">
              <div mat-line>{{item.nameifrs}}</div>
              <div mat-line>Field:{{item.field}} Old: {{item.old}} New: {{item.new}}</div>              
              <div mat-line>{{item.namepp}}</div>        
            </mat-list-item>
          </mat-list>
        </div>

      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsList;sticky: true"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumnsList;" class="element-row"
      [class.expanded-row]="element.isExpanded"></tr>

    <!-- Extra row to show detail content column -->
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

  </table>



</div>